<!DOCTYPE html>
<html lang ="ru">
	<head>
		<title>Главная</title>
		<meta charset="utf-8">
	</head>

<body bgcolor="#e3f3ff">
<h1 id="welcom" align="center" style = "font-family:times"><p>Добро пожаловать на страницу поиска!</p>
<p>Тут вы можете выбрать интересующий Вас алгоритм</p></h1>
<h2 id="welcom" align="center" style = "font-family:times">Проект выполнил Александр Орлов</h2>
<h3 id="welcom" align="center" style = "font-family:times">Поиск по русским запросам с Quora</h2>

<body>
<table align='center' width = '30%' height='30'>
		<tr>
		<td align='center'>
		<a href="/tfidf" style="text-decoration: none; color: black;">Хочу tf_idf</a>
		</td>
		<td align='center'>
		<a href="/bm" style="text-decoration: none; color: black;">Хочу bm25</a>
		</td>
		<td align='center'>
		<a href="/fasttext" style="text-decoration: none; color: black;">Хочу fasttext</a>
		</td>
		<td align='center'>
		<a href="/elmo" style="text-decoration: none; color: black;">Хочу elmo</a>
		
</table>
</body>
</html>